$primary-color: #a889c3;
$primary-dark: rgb(40, 40, 40);
// %primary-light-gray: rgb();

body {
  background-color: gray;
  margin: 0;
}
.indexForm {
  border-style: double;
  border-color: pink;
}

// Navbar {
//   outline: 1px solid red;
// }
.navbar {
  // outline: 1px solid red;
  background-color: #a889c3;
  height: 60px;
  width: 100%;
  margin: 0;
  top: 0;
  display: flex;
  justify-content: space-around;
  border-bottom: 1.5px solid rgb(27, 27, 27);
  .navbar-nav {
    display: flex;
    align-items: center;
  }
  svg {
    margin-top: 5px;
  }
  a {
    color: lighten($primary-color, 20);
    font-size: 2em !important ;
  }
  a:hover {
    color: white;
  }
}

.logButton {
  background-color: transparent;
  border: none;
  color: lightgray;
  font-size: 1.4em;
}

.logButton:hover {
  color: white;
  transition: ease, 0.7s;
}

#taskContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .taskHeader {
    display: flex;
    justify-content: center;
  }
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;

  .cardContainer {
    width: auto;
    // box-shadow: 5px 5px #414a4c;
    margin: 15px;
    border-radius: 5px;
  }
}
.form {
  display: flex;
  flex-direction: column;
}
