$primary-color: #a889c3;
$primary-color-dark: lighten ($primary-color, -30%);
$primary-dark: #121212;
$primary-light: #1f1f1f;
$primary-text: #dadada;

// %primary-light-gray: rgb();

html {
  background-color: $primary-dark;
}

// +++ APP.jsx +++
.appContainer {
  background-color: $primary-dark;
  color: $primary-text;
}
// +++ NAVBAR +++
.navbar {
  height: 60px;
  width: 100%;
  margin: 0;
  top: 0;
  display: flex;
  justify-content: space-around;
  border-bottom: 1.5px solid rgb(27, 27, 27);
  .navbar-nav {
    display: flex;
    align-items: center;
  }
  svg {
    margin-top: 5px;
  }
  a {
    color: lighten($primary-color, 20);
    font-size: 2em !important ;
  }
  a:hover {
    color: white;
  }
}

.logButton {
  background-color: transparent;
  border: none;
  color: lightgray;
  font-size: 1.4em;
}

.logButton:hover {
  color: white;
  transition: ease, 0.7s;
}

// +++ LOGIN && SIGN UP +++
.loginContainer,
.signUpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    padding-top: 30px;
  }
  a {
    color: $primary-text;
    text-decoration: none;
    font-size: 1.4em;
    margin-top: 40px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;

    label {
      padding: 10px;
    }
    input {
      background-color: lighten($primary-light, 10%);
      color: darken($primary-text, 30%);
      border: none;
      border-radius: 4px;
      height: 30px;
      border: 5px solid lighten($primary-light, 10%);
      padding: 15px 5px;
    }
    button {
      background-color: $primary-light;
      border: none;
      margin-top: 20px;
      height: 40px;
      width: 100px;
      border-radius: 5px;
      font-size: 1.2em;
      color: $primary-text;
    }
  }
}

#taskContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .taskHeader {
    display: flex;
    justify-content: center;
  }
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;

  .cardContainer {
    width: auto;
    // box-shadow: 5px 5px #414a4c;
    margin: 15px;
    border-radius: 5px;
  }
}
.form {
  display: flex;
  flex-direction: column;
}

.Home {
  background-color: #2dabad;
  min-height: 100vh;
}

.Home-section {
  display: flex;
  flex-direction: column;
  font-size: calc(20px + 2vmin);
  color: white;
  position: relative;
  margin: auto;
  text-align: center;
}

#blurb {
  font-size: calc(10px + 2vmin);
  color: rgb(77, 12, 77);
  font-weight: bold;
  font-style: italic;
  background-color: $primary-color;
  border: 2px white solid;
}

#blurbId {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px;
}

.projectHeader {
  display: flex;
  justify-content: center;
}

.projectGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: space-evenly;

  .projectContainer {
    width: auto;
    // box-shadow: 5px 5px #414a4c;
    margin: 15px;
    border-radius: 5px;
  }
}
